.CompletedProjects-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-direction: row;
  margin-top: 15px;
}

.CompletedProjects-title {
  letter-spacing: 18px;
  align-self: center;
  text-align: center;
}

.CompleteProjects-titleContainer{
  height: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
