.About-container {
  background-color: #FFF;
  box-shadow: -0.5px 0.5px 0.5px #DDD;
  display: flex;
  margin:20px;
  margin-left: 7%;
}

.About-img {
  padding: 7px;
  max-height: 350px;
  filter: grayscale(25%);
  box-shadow: -1px 1px 1px #EEE;
  border-radius: 3px;
}

.About-header {
  font-size: 32px;
  color: #66ddff;
}

.About-body {
  display: flex;
  flex-direction: column;

  line-height: 28px;
  font-size: 16px;
  padding: 5px;
  color: #777777
}

.container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.About-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Media-item {
  padding: 15px;
  margin: 15px;
  min-height: 15px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  box-shadow: -1px 1px 1px #EEE;
  border-radius: 7px;
  letter-spacing: 5px;
  font-weight: 100;
}

.social-img {
  height: 150px;
  width: 150px;
}

.secret {
  animation: spin 0.01s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
