.About-container {
  background-color: #FFF;
  box-shadow: -0.5px 0.5px 0.5px #DDD;
  display: flex;
  margin:20px;
  margin-left: 7%;
}

@media (max-width:640px) {
  .About-container {
    flex-direction: column;
    margin:0 5px 0 0;
  }
}

.About-img {
  padding: 7px;
  max-height: 350px;
  filter: grayscale(25%);
  box-shadow: -1px 1px 1px #EEE;
  border-radius: 3px;
}

@media (max-width:640px) {
  .About-img {
    box-shadow: 0px 0px 0px #EEE;
    max-height: 0px;
  }
}

.About-header {
  font-size: 32px;
  color: #0375B4;
}

@media (max-width:640px) {
  .About-header {
    align-self: center;
    font-size: 16px;
  }
}

.About-body {
  display: flex;
  flex-direction: column;

  line-height: 28px;
  font-size: 16px;
  padding: 5px;
  color: #777777
}

@media (max-width:640px) {
  .About-body {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
}

.container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  .container {
    padding-left: 0;
  }
}

.About-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .About-media {
    align-items: center;
    flex-direction: column;
  }
}

.Media-item {
  padding: 15px;
  margin: 15px;
  min-height: 15px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  box-shadow: -1px 1px 1px #EEE;
  border-radius: 7px;
  letter-spacing: 5px;
  font-weight: 100;
}

@media (max-width: 640px) {
  .Media-item {
    align-self: center;
  }
}

.social-img {
  height: 150px;
  width: 150px;
}
