.CurrentWork-container{
  padding-top: 20px;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CurrentWork-title {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 7px 20px;
  margin-bottom: 0px;
  color: #000;
  letter-spacing: 5px;
  font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
  height: 40px;
}

.CurrentWork-description {
  margin-left: 2%;
  font-size: 16px;
  font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
  line-height: 25px;
  letter-spacing: normal;

}

.CurrentWork-current {
  padding-left: 5px;
  font-size: 16px;
}

.CurrentWork-position {
  padding-left: 180px;
  padding-bottom: 25px;
  color: #000;
  letter-spacing: 3px;
  font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
}

.CurrentWork-para2 {
  padding-top: 15px;
}
