.CurrentWork {
    margin: 40px 0 0 2%;
}

.CurrentWork-section {
    padding-left: 5px;
    margin-left: 7%;
    box-shadow: -0.5px 1px 0.1px #DDD;
}

@media (max-width: 960px) {
    .CurrentWork-section {
        margin-left: 0%;
    }
}

.CurrentWork-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CurrentWork-title {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 0px 20px 7px 20px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000;
    letter-spacing: 5px;
    font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
}

@media (max-width: 960px) {
    .CurrentWork-title {
        flex-direction: column;
        padding: 0 0 0 0;
    }
}

.CurrentWork-tab {
    display: flex;
    flex-direction: row;
    margin-right: 20px
}

@media (max-width: 960px) {
    .CurrentWork-tab {
        flex-direction: column;
        margin-right: 0px;
    }
    .CurrentWork-img {
        margin-left: 5%;
        max-width: 300px;
        align-self: center;
    }
}
.CurrentWork-img {
    padding: 7px;
    max-height: 350px;
    max-width: 475px;
    filter: grayscale(25%);
    box-shadow: -1px 1px 1px #EEE;
    border-radius: 3px;
}

.CurrentWork-description {
    margin-left: 2%;
    font-size: 16px;
    font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
    line-height: 25px;
    letter-spacing: normal;
}

.CurrentWork-Current {
    padding-top: 60px;
    padding-left: 5px;
    font-size: 16px;
}
@media (max-width: 960px) {
    .CurrentWork-Current {
        padding: 0 0 0 15px;
    }
}

.CurrentWork-position {
    padding-left: 185px;
    padding-bottom: 25px;
    color: #000;
    letter-spacing: 3px;
    font-family: National,Helvetica Neue,Helvetica,Gill Sans,Arial,sans-serif;
}

.CurrentWork-para2 {
    padding-top: 15px;
}

.CurrentWork-logo-container {
    height: 100px;
    overflow: hidden;
}

.CurrentWork-companyLogo {
    height: 115px;
    max-width: 200px;
}

.CurrentWork-link {
    color: #0375B4;
}

.work-link {
    letter-spacing: 1px;
    margin: 8px;
}
